
#image {
display: block;
margin: auto;
padding: 2rem;
width: 400px;
}

img{
  display: block;
  margin: auto;
  padding: 1rem;
  width: 350px;
}
p{
  color: red;
  font-size: 32px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
body{
  background-color: #011b1e;
}
.title{
text-decoration: underline;
color: white;
font-size: 32px;
text-align: center;
}

#title{
  text-decoration: underline;
  color: white;
  font-size: 32px;
  text-align: center;

}
li{
  padding-top: 2rem;
  color:white;
  font-size: 16px;
  list-style: none;
}

h1{
  color: white;
  font-size: 20px;
  list-style: none;
  text-align: center;
  padding-left: 20rem;
  padding-right: 20rem;
}
.button-container {
  width: 100%;
  text-align: right;
}
.button{
  display: inline-block;
  border-radius: 10px;

}
